@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Plus Jakarta Sans", sans-serif; 
    background-color: #FAFAFA;
}

.large-text{
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
}

.text-center {
    padding: 100px 100px;
}

.w-33{
    border-radius: 30px;
}

.raz{
    z-index: -1;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #F44335;
}